.qs-modal{
	.modal-body{
		padding-left:0;
	}
	.tab-content{
		padding:15px 0;
		.std{margin-bottom:1rem;}
		.product-shop{
			.email-friend{float:left; margin-bottom:5px;}
			.no-rating{float:right;clear:none;margin-bottom:2rem}
			.short-description{clear:both;margin-bottom:2rem}
		}
	}
}