.qs-modal{
	.modal-body{
		padding-left:0;
	}
	.ajax-load-wrapper .ajax-load-button {
	  position:absolute;
	  left:0;
	  right:0;
	  top: 45%;
	  top: -moz-calc((100% - 45px)/2);
	  top: -webkit-calc((100% - 45px)/2);
	  top: -o-calc((100% - 45px)/2);
	  top: calc((100% - 45px)/2);
	}
	.tab-content{
		padding:15px 0;
		.std{margin-bottom:1rem;}
		.product-shop{
			.email-friend{float:left; margin-bottom:5px;}
			.no-rating,.ratings{float:right;clear:none;margin-bottom:2rem}
			.short-description{clear:both;margin-bottom:2rem}
		}
	}
}